
#configdiv{
    float: left;
}

#canvasdiv{
    width:100%;
    margin-bottom:1px;
    margin-top:10px;
}

#graficosdiv{
    width:100%;
    margin-bottom:1px;
    margin-top:1px;
}

input[type='number']{
    width: 40px;
} 


p{
    color:white;
    position: statitc;
}

label{
    margin-left:10px;
    color:rgb(0, 0, 0);
}

#population{
    margin-top: 0px;
}

#p1{
    margin-right: 0px;
}

#p2{
    margin-right: 0px;
}

#p3{
    margin-right: 0px;
    margin-bottom: 0px;
}

body{
    margin:0%;
}

canvas{
    margin: 1px;
    background-color:gray;
    text-align:center;
    display: block;
    margin:auto;  
}

#c2{
    margin: 1px;
    background-color:rgb(4, 163, 190);
    text-align:center;
    display: block;
    margin:auto;   
}


#div{
    float:left;
    background-color:black;
    width:20%;
    color:white;
    margin-left:10px;
}

#container{
    background-color:rgb(255, 255, 255);
    width:100%;
    margin-top:0;
    height: 100%;
}
